<div class="main-container" >
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark" [ngStyle]="navbg" #target>
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ajai Inith</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Ajai Inith</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item" data-bs-dismiss="offcanvas">
              <a class="nav-link active" routerLink="" fragment="Home">Home</a>
            </li>
            <li class="nav-item" data-bs-dismiss="offcanvas">
              <a class="nav-link active" routerLink=""  fragment="About">About</a>
            </li>
            <li class="nav-item" data-bs-dismiss="offcanvas">
              <a class="nav-link active"  routerLink="" fragment="Projects">Projects</a>
            </li>
            <li class="nav-item" data-bs-dismiss="offcanvas">
              <a class="nav-link active"  routerLink="" fragment="Skills">Skills</a>
            </li>
            <li class="nav-item" data-bs-dismiss="offcanvas">
              <a class="nav-link active" routerLink="" fragment="Contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="sub-container" #target>
  <app-home id="Home"></app-home>
  <app-about id="About"></app-about>
  <app-projects id="Projects"></app-projects>
  <app-skills id="Skills"></app-skills>
  <app-contact id="Contact"></app-contact>
  </div>  
</div>


  





