.navbar .navbar-brand
{
    color: white;
    font-weight: bold;
    font-size: 4vh;
}
.navbar-nav .nav-link
{
    font-size: 4vh;
    padding-right: 15vh;
}

a{
    color: white;
    font-size: 500;
}
.nav-link:hover{
    color: #5edaf0;
}

@media (max-width: 820px){
    .navbar-nav .nav-link{
        font-size: 22px;
    }

    .navbar .navbar-brand{
        font-size: 22px;
    }
}