<div class="background">
    <div class="content">
        <img src="../../assets/images/AjaiInith.png" style=" height: 30vh; width: 30vh;">  
        <h1>Hello I'm Ajai Inith</h1>
        <p>A Passionate and Versatile Full Stack Web Developer </p>
        <button (click)="OnDownload(1)">Download Resume</button> <br><br>
        <a href="https://github.com/AJAIINITH" target="_blank" class="bi bi-github"> Github </a>
        <span><a href="https://www.linkedin.com/in/ajai-inith-467867175/" target="_blank"  class="bi bi-linkedin"> LinkedIn </a></span> 
    </div>   
</div>